<div class="container">
  <h1>Welcome to Awesome Flashcards!</h1>
  <p>What would you like to do?</p>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Option</th>
      <th>Link</th>
    </tr>
      <% @decks.each do |deck| %>
        <tr>
          <td><%= deck.title %></td>
          <td><a href="/decks/<%= deck.id %>/play">Play!</a></td>
        </tr>
      <% end %>
    
  </table>
</div>
