<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Playing on <%= @card.deck.title %> deck</h1>
      <div class="hero-unit">
        
        <%= erb :_hero_unit %>
    
      </div>
      <a href="/"><i class="icon-mail-reply"></i> Return to list</a>
    </div>

  </div>
</div>
