<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Playing on <%= @card.deck.title %> deck</h1>
      <div class="hero-unit">
        
        <% unless @correct.nil? %>
          <% if @correct %>
            <div class="alert alert-success">
              <i class="icon-check"></i> You were correct!
            </div>
          <% else %>
            <div class="alert alert-error">
              You fucked up
            </div>
          <% end %>
        <% end %>
        <p><%= @card[:front] %></p>        
        
        <form action="/decks/<%= params[:deck_id] %>/play" method="post" class="form form-inline">
          <input type="text" name="card[guess]">
          <input type="hidden" value="<%= @card[:id] %>" name="card[id]">
          <input type="submit" value="Submit Answer!" class="btn btn-success">
        </form>  
    
      </div>
      <a href="/"><i class="icon-mail-reply"></i> Return to list</a>
    </div>

  </div>
</div>
